.hero {
    background: url('https://w0.peakpx.com/wallpaper/739/894/HD-wallpaper-fashion-models-models-beautiful-girls-female-and-men-casual-clothes-fashion-beautiful-boys.jpg') no-repeat center center;
    background-size: cover;
    height: 80vh;
    position: relative;
    color: white;
    text-align: center;
  }
  
  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* dark overlay */
    z-index: 1;
  }
  
  .hero .container {
    position: relative;
    z-index: 2;
  }
  
  p,h1,h2,h3,h4,h5,label,i,strong,div,span{
    color: rgba(240, 251, 255, 0.718);
  }

  .card {
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.1);
    filter: brightness(1.1) drop-shadow(0 0 10px #ed9461);
  }

  body{
    background-color: #392215;
  }

  